In [8]:
import yfinance as yf
import pandas as pd

In [9]:
data = pd.read_excel('Screener tests.xlsx')
top_data = data[data['Cap M$'] != 'No data on finviz'][:100]
tickers = list(top_data['Все'])

In [10]:
tickers

['AAPL',
 'MSFT',
 'AMZN',
 'GOOG',
 'GOOGL',
 'TSLA',
 'FB',
 'BABA',
 'BRK-B',
 'BRK-A',
 'TSM',
 'V',
 'JPM',
 'JNJ',
 'WMT',
 'PG',
 'UNH',
 'NVDA',
 'MA',
 'DIS',
 'BAC',
 'HD',
 'PYPL',
 'TM',
 'INTC',
 'VZ',
 'NVS',
 'ASML',
 'CMCSA',
 'NKE',
 'ADBE',
 'NFLX',
 'XOM',
 'KO',
 'T',
 'MRK',
 'PDD',
 'PFE',
 'CRM',
 'ABBV',
 'TMO',
 'PEP',
 'ABT',
 'CSCO',
 'AVGO',
 'CVX',
 'QCOM',
 'ORCL',
 'LLY',
 'ACN',
 'BBL',
 'BHP',
 'DHR',
 'NEE',
 'COST',
 'MDT',
 'RDS-A',
 'TXN',
 'UL',
 'SAP',
 'MCD',
 'TMUS',
 'BMY',
 'LFC',
 'HON',
 'UNP',
 'SHOP',
 'C',
 'WFC',
 'JD',
 'UPS',
 'RDS-B',
 'AMGN',
 'RIO',
 'MS',
 'LIN',
 'HDB',
 'AZN',
 'SNE',
 'NVO',
 'PM',
 'LOW',
 'CHTR',
 'SNY',
 'TOT',
 'RY',
 'SBUX',
 'BA',
 'BUD',
 'SE',
 'PTR',
 'IBM',
 'BLK',
 'HSBC',
 'ZM',
 'SCHW',
 'AMD',
 'ABNB',
 'TD',
 'RTX']

In [11]:
datas_dict = {}

all_data = pd.DataFrame(columns=['Ticker', 'Type', 'Value, $'])

for ticker in tickers:
    data = yf.download(ticker,'2020-01-01','2020-12-31')
    datas_dict[ticker] = data
    
    for i in range(5):
        new_data = pd.DataFrame(columns=['Ticker', 'Type', 'Value, $'], index=data.index)

        new_data['Ticker'] = ticker

        new_data['Type'] = data.columns[i]
        new_data['Value, $'] = data[data.columns[i]]
        all_data = pd.concat([all_data, new_data])
    
all_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

           Ticker       Type   Value, $
2019-12-31   AAPL       Open  72.482498
2020-01-02   AAPL       Open  74.059998
2020-01-03   AAPL       Open  74.287498
2020-01-06   AAPL       Open  73.447502
2020-01-07   AAPL       Open  74.959999
...           ...        ...        ...
2020-12-23    RTX  Adj Close  70.720001
2020-12-24    RTX  Adj Close  70.269997
2020-12-28    RTX  Adj Close  70.629997
2020-12-29    RTX  Adj Close  70.339996
2020-12-30    RTX  Adj Close  71.360001

[125305 rows x 3 columns]

In [12]:
datas_dict['AAPL']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,72.482498,73.419998,72.379997,73.412498,72.783936,100805600
2020-01-02,74.059998,75.150002,73.797501,75.087502,74.444603,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.720840,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,74.308266,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.958794,108872000
...,...,...,...,...,...,...
2020-12-23,132.160004,132.429993,130.779999,130.960007,130.960007,88223700
2020-12-24,131.320007,133.460007,131.100006,131.970001,131.970001,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,136.690002,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,134.869995,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,133.720001,96452100

In [20]:
all_data.index.name = 'Date'
all_data = all_data.sort_values(['Date', 'Ticker', 'Type'], ascending=[True, True, False])
all_data

           Ticker       Type    Value, $
Date
2019-12-31   AAPL       Open   72.482498
2019-12-31   AAPL        Low   72.379997
2019-12-31   AAPL       High   73.419998
2019-12-31   AAPL      Close   73.412498
2019-12-31   AAPL  Adj Close   72.783936
...           ...        ...         ...
2020-12-30     ZM       Open  358.420013
2020-12-30     ZM        Low  345.399994
2020-12-30     ZM       High  358.700012
2020-12-30     ZM      Close  353.399994
2020-12-30     ZM  Adj Close  353.399994

[125305 rows x 3 columns]

In [109]:
all_data.to_csv('quotes_2020.csv')